@import "tailwindcss";
*{
  margin: 0px;
  padding: 0px;
}
.p-select-list-container{
  background-color: #fff !important;
  padding: 5px 15px;
  border-radius: 0px 0px 6px 6px;
}
.p-autocomplete-list-container{
  background-color: #fff !important;
  padding: 5px 15px;
  border-radius: 0px 0px 6px 6px;
}
